<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Objects nearest to you, <%= @user.marker.name %></h1>
    <p>
      Your address: <%= @user.marker.address %>
    </p>
    <p>
      <% @groups.each do |group| %>
        <h3>Group name: <%= group.title %></h3>
        <% group.markers.near(@user.marker.address, 300, :order => :distance).each do |marker| %>
          <p>
            Marker name: <%= marker.name %>
            Marker description: <%= marker.description %>
            Marker address: <%= marker.address %>
          </p>
        <% end %>
      <% end %>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>

