<h1><%= @group.title %></h1>

<%= form_tag group_path(@group), :method => :get do %>
  <p>
    Near to
    <%= text_field_tag :search, params[:search], :style => "width: 100px;" %>
    in radius
    <%= text_field_tag :search_range, params[:search_range], :style => "width: 30px;" %>
    <%= submit_tag "Search Near", :name => nil %>
  </p>
<% end %>

<br />




<ul id="markers_list">  </ul>
<a id="show_distances_link" href="javascript:void(0);">Show distances</a>

<%= gmaps("map_options" => {"zoom" => 1, "detect_location" => false, "center_on_user" => false, "auto_adjust" => @adjust || true, "provider_key" => "ABQIAAAApJArxHc7YBf6zd_yKs9-5RQNIUD9-_P9dKRT5ZjrSILxyI7CoBQpHs-Sr82X9HZS53r9gFUHbaSdvg"},
          "markers" => {
                        "data" => @markers.to_gmaps4rails,
                        "options" => {
                                      "list_container" => "markers_list"
                                     }
                        }
) %>



<script type="text/javascript">
var my_details = new Array();
<% @markers.each do |marker| %>
  my_details.push('<%= " - " + @location + " (" + marker.distance_to(@location).round(2).to_s + " miles)" %>');
<% end %>

$("#show_distances_link").each(function(){
  this.onclick = function(event) {
    var i=0;
    $("#markers_list li").each(function(){
      $(this).append(my_details[i]);
      i++;
    });
    $(this).hide();
  };
});
</script>

