<div id="signin_dialog" style="display: none; float: right;  width:100%;">
  <div id = "sign_in_dialog_errors" style="color:red;"></div>
  <%= form_for("user", :url => sign_in_pacient_path, :remote => true, :html => {:style => "float:right"}) do |f| %>
    <div id = "sign_in_email">
    <%= f.label :email %>
    <%= f.text_field :email, :style => "width: 150px; margin-left:15px;" %>
    </div> <br/>
    <div id = "sign_in_password">
    <%= f.label :password %>
    <%= f.password_field :password, :style => "width: 150px; margin-left:15px;" %>
    </div> <br/>
    <button id="signin_submit">Sign in</button>
  <% end %>
  <%= link_to "Forgot your password?", "javascript:void(0);", { :onclick => "forgot_fn();", :style=>'float:right;', :id => "forgot_pass"} %>
</div>

