


<%= content_for :head do %>

  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript">

     $(document).click(function(e){
          mouseX = e.pageX;
          mouseY = e.pageY;
       });

    jQuery(document).ajaxStart(function(){
      $('#loading').show();
    });

    jQuery(document).ajaxStop(function(e){
      $('#loading').hide();
      if ($(".no_result").length == 0 && $.browser.mozilla)
        {$( "#dialog" ).dialog({ position: [mouseX, mouseY], resizable: false, minHeight: 30 });}
      else if($(".no_result").length == 0)
        {$( "#dialog" ).dialog({ position: ['left','top'], resizable: false, minHeight: 30 });}//{ position: [mouseX, mouseY], resizable: false, minHeight: 30  });
    });

    google.load('visualization', '1', {packages: ['geomap']});

    function drawVisualization() {
      var data = new google.visualization.DataTable();
      data.addRows(<%= @countries.count %>);
      data.addColumn('string', 'Country');
      data.addColumn('number', 'Number of patients');
      data.addColumn('string', 'Name');
      i = 0;
      <% if !@countries.nil? %>
        <% @countries.each do |country| %>
          data.setValue(i, 0, '<%= country.country_list.code %>');
          data.setValue(i, 1, <%= !country.number_of_patients.nil? ? country.number_of_patients : 0 %>);
          data.setValue(i, 2, '<%= country.country_list.name %>');
          i +=1;
        <% end %>
      <% end %>

      var options = {};
      options['width'] = 765;
      options['height'] = 455;
      //options['colors'] = [0xEC9090, 0x950000];
      //options['showZoomOut'] = true;
      var geomap = new google.visualization.GeoMap(
          document.getElementById('visualization'));
      google.visualization.events.addListener(
        geomap, 'regionClick', function(e) {
          $("#infoWindow").remove();
          $.get("/countries/country_click", { region_code: e['region']});
      });
      geomap.draw(data, options);
    }
    google.setOnLoadCallback(drawVisualization);
  </script>


<% end %>

<div id="visualization" style="width: 765px; height: 455px;"></div>

<div id="loading" style="display: none; position: absolute; left: 15px; top: 15px;"><img id="loader" src="images/circle.gif" alt="Loading"/>
</div>

<div id="dialog"> </div>
<% stats = WorldStatistic.last %>
<% if !stats.nil? %>
  <div id="world_stats">
    World Statistics:
    Population: <%= stats.population %>, prevalence of vitiligo in the world: from <%= stats.from %> to <%= stats.to %>, depending of the region, number of patients: from <%= stats.from_patients.to_i %> to <%= stats.to_patients.to_i %> </div>
<% end %>
<div id="source">Source: <%= link_to 'http://www.rightdiagnosis.com', 'http://www.rightdiagnosis.com/v/vitiligo/stats-country.htm' %></div>

