


<%= content_for :head do %>

  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript">

    jQuery(document).ajaxStart(function(){
      $('#loading').show();
    });

    jQuery(document).ajaxStop(function(){
      $('#loading').hide();
    });

     $(document).click(function(e){
          mouseX = e.pageX;
          mouseY = e.pageY;
       });

    google.load('visualization', '1', {packages: ['geomap']});

    function drawVisualization() {
      var data = new google.visualization.DataTable();
      data.addRows(<%= @countries.count %>);
      data.addColumn('string', 'Country');
      data.addColumn('number', 'Vitiligo');

      <% if !@countries.nil? %>
        <% @countries.each do |country| %>
          data.setValue(<%= country.id.to_i - 1.to_i %>, 0, '<%= country.title %>');
          data.setValue(<%= country.id.to_i - 1.to_i %>, 1, <%= country.opacity %>);
        <% end %>
      <% end %>

      var options = {};
      options['width'] = 765;
      options['height'] = 455;
      //options['colors'] = [0xEC9090, 0x950000];
      //options['showZoomOut'] = true;
      var geomap = new google.visualization.GeoMap(
          document.getElementById('visualization'));
      google.visualization.events.addListener(
        geomap, 'regionClick', function(e) {
          $("#infoWindow").remove();
          $.get("/countries/country_click", { region_code: e['region']});
      });
      geomap.draw(data, options);
    }
    google.setOnLoadCallback(drawVisualization);
  </script>


<% end %>

<div id="visualization" style="width: 765px; height: 455px;"></div>

<div id="loading" style="display: none; position: absolute; left: 15px; top: 15px;"><img id="loader" src="images/circle.gif" alt="Loading"/>
</div>

