<h3> <%= user.email %> </h3>
<p> <b> Activated: <%= user.activated %> </b> </p>
<p> Marker name: <%= user.marker.name %> </p>
<p> Address: <%= user.marker.address %> </p>
Published: <%= user.marker.published %>

